<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <%= f.fields_for :answers do |answer_form| %>
      <div>
        <%= answer_form.label 'Testo:' %>
        <%= answer_form.text_field :text %>

        <%= answer_form.label 'Corretta?' %>
        <%= answer_form.check_box :correct %>
      </div>
      <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
