<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @quiz.subject %>
</p>

<p>
  <strong>Immagine:</strong><br>
  <%= image_tag @quiz.image, width: "300" %>
</p>
<p>
  <strong>Question:</strong>
  <%= @quiz.question %>
</p>
<h3> Risposte</h3>
<ol>
	<% @quiz.answers.each do |a| %>
	<li><%=a.text %>
		<% if a.correct? %>
		(corretta)
		<% else %>
		(errata)
		<% end %>
	</li>
	<% end %>
</ol>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
